USE [master]
GO
/****** Object:  Database [vaerochka]    Script Date: 28.03.2023 7:39:34 ******/
CREATE DATABASE [vaerochka]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'vaerochka', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\vaerochka.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'vaerochka_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\vaerochka_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [vaerochka].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [vaerochka]
GO
/****** Object:  Table [dbo].[aircraft]    Script Date: 28.03.2023 7:39:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[aircraft](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[model] [nvarchar](25) NOT NULL,
	[business_seats] [int] NOT NULL,
	[economy_seats] [int] NOT NULL,
	[image] [nvarchar](200) NULL,
	[description] [nvarchar](4000) NULL,
 CONSTRAINT [PK_plane] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[airline]    Script Date: 28.03.2023 7:39:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[airline](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](25) NOT NULL,
	[image] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_airlines] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[airport]    Script Date: 28.03.2023 7:39:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[airport](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](5) NULL,
	[name] [nvarchar](25) NULL,
	[city_id] [int] NULL,
 CONSTRAINT [PK_airport] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[city]    Script Date: 28.03.2023 7:39:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[city](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](25) NOT NULL,
	[country_id] [int] NOT NULL,
 CONSTRAINT [PK_city] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[client]    Script Date: 28.03.2023 7:39:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[client](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](40) NOT NULL,
	[surname] [nvarchar](40) NOT NULL,
	[lastname] [nvarchar](40) NULL,
	[passport_id] [int] NOT NULL,
 CONSTRAINT [PK_client] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[contact]    Script Date: 28.03.2023 7:39:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[contact](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[email] [nvarchar](256) NOT NULL,
	[number] [nvarchar](11) NOT NULL,
 CONSTRAINT [PK_contact] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[country]    Script Date: 28.03.2023 7:39:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[country](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](25) NOT NULL,
 CONSTRAINT [PK_country] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[passport]    Script Date: 28.03.2023 7:39:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[passport](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[birthdate] [date] NOT NULL,
	[citizenship_id] [int] NOT NULL,
	[number] [nvarchar](10) NOT NULL,
	[country_of_issue_id] [int] NOT NULL,
	[validity_period] [date] NOT NULL,
 CONSTRAINT [PK_passport] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[registration]    Script Date: 28.03.2023 7:39:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[registration](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[route_id] [int] NOT NULL,
	[code] [nvarchar](8) NOT NULL,
	[client_id] [int] NOT NULL,
	[contact_id] [int] NOT NULL,
	[tariff_id] [int] NOT NULL,
	[seat] [nvarchar](4) NOT NULL,
	[price] [money] NOT NULL,
	[registered] [bit] NOT NULL,
 CONSTRAINT [PK_registration] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[route]    Script Date: 28.03.2023 7:39:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[route](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[airline_id] [int] NOT NULL,
	[start_time] [datetime] NOT NULL,
	[end_time] [datetime] NOT NULL,
	[price] [money] NOT NULL,
	[code] [nvarchar](25) NOT NULL,
	[time_in_fly] [nvarchar](25) NOT NULL,
	[aircraft_id] [int] NOT NULL,
	[boarding_gate] [nvarchar](25) NOT NULL,
	[start_airport_id] [int] NOT NULL,
	[end_airport_id] [int] NOT NULL,
 CONSTRAINT [PK_route] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tariff]    Script Date: 28.03.2023 7:39:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tariff](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[airline_id] [int] NOT NULL,
	[name] [nvarchar](20) NOT NULL,
	[hand_luggage] [bit] NOT NULL,
	[luggage] [bit] NOT NULL,
	[meal] [bit] NULL,
	[rebooking] [bit] NOT NULL,
	[refund] [bit] NOT NULL,
	[markup] [int] NOT NULL,
	[insurance] [bit] NOT NULL,
	[seat_choice] [bit] NOT NULL,
	[vip_lounge] [bit] NOT NULL,
	[boarding_priority] [bit] NOT NULL,
 CONSTRAINT [PK_tariff] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[aircraft] ON 

SET IDENTITY_INSERT [dbo].[aircraft] OFF
GO
SET IDENTITY_INSERT [dbo].[airline] ON 

INSERT [dbo].[airline] ([id], [name], [image]) VALUES (1, N'Аэрофлот', N'https://upload.wikimedia.org/wikipedia/commons/5/5c/Aeroflot_logo_%28en%29.png')
INSERT [dbo].[airline] ([id], [name], [image]) VALUES (2, N'Газпром авиа', N'https://upload.wikimedia.org/wikipedia/commons/3/39/Gazprom_Avia_Logo.svg')
INSERT [dbo].[airline] ([id], [name], [image]) VALUES (4, N'iFly', N'https://ru.wikipedia.org/wiki/I_fly#/media/%D0%A4%D0%B0%D0%B9%D0%BB:I_fly_logo.png')
SET IDENTITY_INSERT [dbo].[airline] OFF
GO
SET IDENTITY_INSERT [dbo].[airport] ON 

INSERT [dbo].[airport] ([id], [code], [name], [city_id]) VALUES (1, N'AAQ', N'Витязево
', 1)
INSERT [dbo].[airport] ([id], [code], [name], [city_id]) VALUES (2, N'ABA', N'Абакан
', 2)
INSERT [dbo].[airport] ([id], [code], [name], [city_id]) VALUES (3, N'ACS', N'Ачинск
', 3)
SET IDENTITY_INSERT [dbo].[airport] OFF
GO
SET IDENTITY_INSERT [dbo].[city] ON 

INSERT [dbo].[city] ([id], [name], [country_id]) VALUES (1, N'Анапа
', 1)
INSERT [dbo].[city] ([id], [name], [country_id]) VALUES (2, N'Абакан
', 1)
INSERT [dbo].[city] ([id], [name], [country_id]) VALUES (3, N'Ачинск
', 1)
SET IDENTITY_INSERT [dbo].[city] OFF
GO
SET IDENTITY_INSERT [dbo].[client] ON 

INSERT [dbo].[client] ([id], [name], [surname], [lastname], [passport_id]) VALUES (2, N'MATVEI', N'VARGANOV', N'ALEKSEEVICH', 1)
INSERT [dbo].[client] ([id], [name], [surname], [lastname], [passport_id]) VALUES (53, N'RE', N'RE', N'RE', 115)
INSERT [dbo].[client] ([id], [name], [surname], [lastname], [passport_id]) VALUES (54, N'VIKTOR', N'KONONENKO', N'ALEKSEEVICH', 116)
SET IDENTITY_INSERT [dbo].[client] OFF
GO
SET IDENTITY_INSERT [dbo].[contact] ON 

INSERT [dbo].[contact] ([id], [email], [number]) VALUES (4, N'spudermanigo@gmail.com', N'79827177552')
INSERT [dbo].[contact] ([id], [email], [number]) VALUES (74, N'spuder@gmail.com', N'79827372813')
INSERT [dbo].[contact] ([id], [email], [number]) VALUES (75, N'spuder@gmail.com', N'89827177117')
SET IDENTITY_INSERT [dbo].[contact] OFF
GO
SET IDENTITY_INSERT [dbo].[country] ON 

INSERT [dbo].[country] ([id], [name]) VALUES (1, N'Россия')
SET IDENTITY_INSERT [dbo].[country] OFF
GO
SET IDENTITY_INSERT [dbo].[passport] ON 

INSERT [dbo].[passport] ([id], [birthdate], [citizenship_id], [number], [country_of_issue_id], [validity_period]) VALUES (1, CAST(N'2003-08-03' AS Date), 1, N'6517765567', 1, CAST(N'2026-02-01' AS Date))
INSERT [dbo].[passport] ([id], [birthdate], [citizenship_id], [number], [country_of_issue_id], [validity_period]) VALUES (111, CAST(N'2003-08-03' AS Date), 1, N'4523432432', 1, CAST(N'2023-03-31' AS Date))
INSERT [dbo].[passport] ([id], [birthdate], [citizenship_id], [number], [country_of_issue_id], [validity_period]) VALUES (112, CAST(N'2010-12-01' AS Date), 1, N'3213232131', 1, CAST(N'2023-03-30' AS Date))
SET IDENTITY_INSERT [dbo].[passport] OFF
GO
SET IDENTITY_INSERT [dbo].[registration] ON 

INSERT [dbo].[registration] ([id], [route_id], [code], [client_id], [contact_id], [tariff_id], [seat], [price], [registered]) VALUES (1, 1, N'qwe', 2, 4, 1, N'A4', 10800.0000, 0)
INSERT [dbo].[registration] ([id], [route_id], [code], [client_id], [contact_id], [tariff_id], [seat], [price], [registered]) VALUES (2, 1, N'VEJQN153', 53, 78, 4, N'A1', 10800.0000, 0)
INSERT [dbo].[registration] ([id], [route_id], [code], [client_id], [contact_id], [tariff_id], [seat], [price], [registered]) VALUES (3, 1, N'X8QZZ154', 54, 75, 2, N'B3', 9000.0000, 0)
SET IDENTITY_INSERT [dbo].[registration] OFF
GO
SET IDENTITY_INSERT [dbo].[route] ON 

INSERT [dbo].[route] ([id], [airline_id], [start_time], [end_time], [price], [code], [time_in_fly], [aircraft_id], [boarding_gate], [start_airport_id], [end_airport_id]) VALUES (1, 1, CAST(N'2023-03-28T13:00:00.000' AS DateTime), CAST(N'2023-03-28T14:00:00.000' AS DateTime), 6000.0000, N'SU 2999', N'1 ч.', 4, N'Gate 2', 24, 1)
INSERT [dbo].[route] ([id], [airline_id], [start_time], [end_time], [price], [code], [time_in_fly], [aircraft_id], [boarding_gate], [start_airport_id], [end_airport_id]) VALUES (4, 1, CAST(N'2023-03-29T14:00:00.000' AS DateTime), CAST(N'2023-03-29T16:00:00.000' AS DateTime), 7000.0000, N'SU 1512', N'2 ч.', 4, N'Gate 1', 24, 1)
INSERT [dbo].[route] ([id], [airline_id], [start_time], [end_time], [price], [code], [time_in_fly], [aircraft_id], [boarding_gate], [start_airport_id], [end_airport_id]) VALUES (6, 1, CAST(N'2023-03-30T14:00:00.000' AS DateTime), CAST(N'2023-03-30T16:00:00.000' AS DateTime), 6000.0000, N'SU 2223', N'2 ч.', 1, N'Gate 3', 1, 24)
SET IDENTITY_INSERT [dbo].[route] OFF
GO
SET IDENTITY_INSERT [dbo].[tariff] ON 

INSERT [dbo].[tariff] ([id], [airline_id], [name], [hand_luggage], [luggage], [meal], [rebooking], [refund], [markup], [insurance], [seat_choice], [vip_lounge], [boarding_priority]) VALUES (1, 1, N'Эконом Лайт', 1, 0, 1, 0, 0, 100, 0, 0, 0, 0)
INSERT [dbo].[tariff] ([id], [airline_id], [name], [hand_luggage], [luggage], [meal], [rebooking], [refund], [markup], [insurance], [seat_choice], [vip_lounge], [boarding_priority]) VALUES (2, 1, N'Эконом Оптимум', 1, 1, 1, 0, 0, 150, 0, 1, 0, 0)
INSERT [dbo].[tariff] ([id], [airline_id], [name], [hand_luggage], [luggage], [meal], [rebooking], [refund], [markup], [insurance], [seat_choice], [vip_lounge], [boarding_priority]) VALUES (4, 1, N'Эконом Максимум', 1, 1, 1, 1, 1, 180, 1, 1, 1, 1)
SET IDENTITY_INSERT [dbo].[tariff] OFF
GO
ALTER TABLE [dbo].[airport]  WITH CHECK ADD  CONSTRAINT [city_to_city_id] FOREIGN KEY([city_id])
REFERENCES [dbo].[city] ([id])
GO
ALTER TABLE [dbo].[airport] CHECK CONSTRAINT [city_to_city_id]
GO
ALTER TABLE [dbo].[city]  WITH CHECK ADD  CONSTRAINT [country_to_country_id] FOREIGN KEY([country_id])
REFERENCES [dbo].[country] ([id])
GO
ALTER TABLE [dbo].[city] CHECK CONSTRAINT [country_to_country_id]
GO
ALTER TABLE [dbo].[client]  WITH CHECK ADD  CONSTRAINT [passport_to_client_passport_id] FOREIGN KEY([passport_id])
REFERENCES [dbo].[passport] ([id])
GO
ALTER TABLE [dbo].[client] CHECK CONSTRAINT [passport_to_client_passport_id]
GO
ALTER TABLE [dbo].[passport]  WITH CHECK ADD  CONSTRAINT [country_to_citizenship_id] FOREIGN KEY([citizenship_id])
REFERENCES [dbo].[country] ([id])
GO
ALTER TABLE [dbo].[passport] CHECK CONSTRAINT [country_to_citizenship_id]
GO
ALTER TABLE [dbo].[passport]  WITH CHECK ADD  CONSTRAINT [country_to_countryofissue_id] FOREIGN KEY([country_of_issue_id])
REFERENCES [dbo].[country] ([id])
GO
ALTER TABLE [dbo].[passport] CHECK CONSTRAINT [country_to_countryofissue_id]
GO
ALTER TABLE [dbo].[registration]  WITH CHECK ADD  CONSTRAINT [client_to_regisration_client_id] FOREIGN KEY([client_id])
REFERENCES [dbo].[client] ([id])
GO
ALTER TABLE [dbo].[registration] CHECK CONSTRAINT [client_to_regisration_client_id]
GO
ALTER TABLE [dbo].[registration]  WITH CHECK ADD  CONSTRAINT [contact_to_registration_contact_id] FOREIGN KEY([contact_id])
REFERENCES [dbo].[contact] ([id])
GO
ALTER TABLE [dbo].[registration] CHECK CONSTRAINT [contact_to_registration_contact_id]
GO
ALTER TABLE [dbo].[registration]  WITH CHECK ADD  CONSTRAINT [FK_registration_route] FOREIGN KEY([route_id])
REFERENCES [dbo].[route] ([id])
GO
ALTER TABLE [dbo].[registration] CHECK CONSTRAINT [FK_registration_route]
GO
ALTER TABLE [dbo].[registration]  WITH CHECK ADD  CONSTRAINT [tariff_to_registration_tariff_id] FOREIGN KEY([tariff_id])
REFERENCES [dbo].[tariff] ([id])
GO
ALTER TABLE [dbo].[registration] CHECK CONSTRAINT [tariff_to_registration_tariff_id]
GO
ALTER TABLE [dbo].[route]  WITH CHECK ADD  CONSTRAINT [FK_route_aircraft] FOREIGN KEY([aircraft_id])
REFERENCES [dbo].[aircraft] ([id])
GO
ALTER TABLE [dbo].[route] CHECK CONSTRAINT [FK_route_aircraft]
GO
ALTER TABLE [dbo].[route]  WITH CHECK ADD  CONSTRAINT [FK_route_airline] FOREIGN KEY([airline_id])
REFERENCES [dbo].[airline] ([id])
GO
ALTER TABLE [dbo].[route] CHECK CONSTRAINT [FK_route_airline]
GO
ALTER TABLE [dbo].[route]  WITH CHECK ADD  CONSTRAINT [FK_route_airport] FOREIGN KEY([start_airport_id])
REFERENCES [dbo].[airport] ([id])
GO
ALTER TABLE [dbo].[route] CHECK CONSTRAINT [FK_route_airport]
GO
ALTER TABLE [dbo].[route]  WITH CHECK ADD  CONSTRAINT [FK_route_airport1] FOREIGN KEY([end_airport_id])
REFERENCES [dbo].[airport] ([id])
GO
ALTER TABLE [dbo].[route] CHECK CONSTRAINT [FK_route_airport1]
GO
ALTER TABLE [dbo].[tariff]  WITH CHECK ADD  CONSTRAINT [airline_to_tariff_airline_id] FOREIGN KEY([airline_id])
REFERENCES [dbo].[airline] ([id])
GO
ALTER TABLE [dbo].[tariff] CHECK CONSTRAINT [airline_to_tariff_airline_id]
GO
USE [master]
GO
