<div class="registration">
    <mat-card>
        <mat-card-header>
            <div mat-card-avatar class="example-header-image" style="width: 20px;"><mat-icon>people</mat-icon></div>
            <mat-card-title>Пассажиры</mat-card-title>
            <mat-card-subtitle>Пожалуйста, введите данные о пассажирах латинскими буквами.</mat-card-subtitle>
        </mat-card-header>
        <p style="font-size: 20px; font-weight: 500; margin-left: 25px;">Взрослый</p>
        <mat-card-content style="margin-left: 25px;">
            <mat-form-field appearance="outline">
                <mat-label>Фамилия</mat-label>
                <input matInput [formControl]="clientSurname" name="surname">
                <mat-hint>Латинскими буквами</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Имя</mat-label>
                <input matInput [formControl]="clientName" name="name">
                <mat-hint>Латинскими буквами</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>{{lastNameStatus}}</mat-label>
                <input [disabled]="lastNameExist" matInput [formControl]="clientLastName" name="lastname">
                <button mat-icon-button matSuffix (click)="lastNameReverse()"><mat-icon>{{lastNameExist ? 'block' :
                        'create'}}</mat-icon></button>
                <mat-hint *ngIf="lastNameExist">Латинскими буквами</mat-hint>
            </mat-form-field>
        </mat-card-content>
        <p style="font-size: 20px; font-weight: 500; margin-left: 25px;">Информация о документе</p>
        <mat-card-content>
            <mat-form-field appearance="outline" style="margin-left: 25px;">
                <mat-label>Дата рождения</mat-label>
                <input matInput [matDatepicker]="picker" autocomplete="off" [min]="minDateBirth" [max]="maxDateBirth"
                    [formControl]="clientBirthday" name="birthday">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Номер</mat-label>
                <input matInput [formControl]="clientPassportNumber" name="passportNumber">
                <mat-hint></mat-hint>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Страна выдачи</mat-label>
                <mat-select [formControl]="clientCountryOfIssue" name="countryOfIssue">
                    <mat-option value="Россия">Россия</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Гражданство</mat-label>
                <mat-select [formControl]="clientCitizenship" name="citizenship">
                    <mat-option value="Россия">Россия</mat-option>
                </mat-select>
            </mat-form-field>
        </mat-card-content>
        <mat-card-header>
            <div mat-card-avatar class="example-header-image" style="width: 20px;"><mat-icon>mail</mat-icon></div>
            <mat-card-title>Контактные данные</mat-card-title>
        </mat-card-header>
        <mat-card-content style="margin-left: 25px;">
            <mat-form-field appearance="outline">
                <mat-label>Электронная почта</mat-label>
                <input matInput [formControl]="clientEmail" name="email">
                <mat-hint></mat-hint>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Телефон</mat-label>
                <input matInput [formControl]="clientPhoneNumber" name="phoneNumber">
                <mat-hint></mat-hint>
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-button
                [disabled]="clientPassportNumber.hasError('pattern') || clientSurname.hasError('required') || clientName.hasError('required') || clientLastName.hasError('required') || clientBirthday.hasError('required') || clientPassportNumber.hasError('required') || clientCountryOfIssue.hasError('required') || clientCitizenship.hasError('required') || clientEmail.hasError('required') || clientPhoneNumber.hasError('required')">Продолжить</button>
        </mat-card-actions>
    </mat-card>
    <mat-card style="margin-top:15px;">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image" style="width: 20px;">
                <mat-icon>airline_seat_recline_normal</mat-icon>
            </div>
            <mat-card-title>Выбор места</mat-card-title>
            <mat-card-subtitle>Пожалуйста, выберите место.</mat-card-subtitle>
        </mat-card-header>
        <p><span style="font-size: 20px; font-weight: 500; margin-left: 25px;">Ваш тариф :</span><span
                style="font-size: 20px;"></span></p>
        <mat-card-content style="margin-left: 25px;">
            <!-- <div>
                <p *ngFor="let row of businessRows">
                    <span *ngFor="let letter of businessLetters">{{letter+row}} </span>
                </p>
            </div> -->
            <!-- <ol class="cabin fuselage">
                <li>
                    <ol *ngFor="let row of businessRows" class="seats">
                        <li *ngFor="let letter of businessLetters" class="seat">
                            <input type="checkbox" id="{{row+letter}}" />
                            <label for="1A">{{letter+row}}</label>
                        </li>
                    </ol>
                </li>
            </ol> -->

            <mat-selection-list #letters [multiple]="false" style="display: flex; flex-wrap: wrap;" class="buis">

                <mat-list-option *ngFor="let seat of businessSeats" [value]="seat"
                    (click)="show(seat)" style="text-align: center; width: 50px;">{{seat}}</mat-list-option>

            </mat-selection-list>

            <!-- <ol class="cabin fuselage">
                <mat-grid-list cols="6" rowHeight="2:1">
                    <mat-selection-list #letters [multiple]="false">
                        <mat-grid-tile *ngFor="let seat of economySeats">
                            <mat-list-option [value]="seat" (click)="show(seat)">{{seat}}</mat-list-option>
                        </mat-grid-tile>
                    </mat-selection-list>
                </mat-grid-list>
            </ol> -->
        </mat-card-content>
    </mat-card>
</div>