<div class="registration">
    <div class="client-fields">
        <mat-card>
            <mat-card-header>
                <div mat-card-avatar class="example-header-image" style="width: 20px;"><mat-icon>people</mat-icon></div>
                <mat-card-title>Пассажиры</mat-card-title>
                <mat-card-subtitle>Пожалуйста, введите данные о пассажирах латинскими буквами.</mat-card-subtitle>
            </mat-card-header>
            <p style="font-size: 20px; font-weight: 500; margin-left: 25px;">Взрослый</p>
            <mat-card-content style="margin-left: 25px;">
                <mat-form-field appearance="outline">
                    <mat-label>Фамилия</mat-label>
                    <input matInput [formControl]="clientSurname" name="surname">
                    <mat-hint>Латинскими буквами</mat-hint>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Имя</mat-label>
                    <input matInput [formControl]="clientName" name="name">
                    <mat-hint>Латинскими буквами</mat-hint>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>{{lastNameStatus}}</mat-label>
                    <input [disabled]="lastNameExist" matInput [formControl]="clientLastName" name="lastname">
                    <button mat-icon-button matSuffix (click)="lastNameReverse()"><mat-icon>{{lastNameExist ? 'block' :
                            'create'}}</mat-icon></button>
                    <mat-hint *ngIf="lastNameExist">Латинскими буквами</mat-hint>
                </mat-form-field>
            </mat-card-content>
            <p style="font-size: 20px; font-weight: 500; margin-left: 25px;">Информация о документе</p>
            <mat-card-content>
                <mat-form-field appearance="outline" style="margin-left: 25px;">
                    <mat-label>Дата рождения</mat-label>
                    <input matInput [matDatepicker]="picker" autocomplete="off" [min]="minDateBirth"
                        [max]="maxDateBirth" [formControl]="clientBirthday" name="birthday">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Номер</mat-label>
                    <input matInput [formControl]="clientPassportNumber" name="passportNumber">
                    <mat-hint></mat-hint>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Страна выдачи</mat-label>
                    <mat-select [formControl]="clientCountryOfIssue" name="countryOfIssue">
                        <mat-option value="Россия">Россия</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Гражданство</mat-label>
                    <mat-select [formControl]="clientCitizenship" name="citizenship">
                        <mat-option value="Россия">Россия</mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-card-content>
            <mat-card-header>
                <div mat-card-avatar class="example-header-image" style="width: 20px;"><mat-icon>mail</mat-icon></div>
                <mat-card-title>Контактные данные</mat-card-title>
            </mat-card-header>
            <mat-card-content style="margin-left: 25px;">
                <mat-form-field appearance="outline">
                    <mat-label>Электронная почта</mat-label>
                    <input matInput [formControl]="clientEmail" name="email">
                    <mat-hint></mat-hint>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Телефон</mat-label>
                    <input matInput [formControl]="clientPhoneNumber" name="phoneNumber">
                    <mat-hint></mat-hint>
                </mat-form-field>
            </mat-card-content>
            <mat-card-actions align="end">

            </mat-card-actions>
        </mat-card>
        <mat-card style="margin-top:15px;" class="departureSeats">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image" style="width: 20px;">
                    <mat-icon>airline_seat_recline_normal</mat-icon>
                </div>
                <mat-card-title>Выбор места<a matBadge class="aircraftInfo" matTooltip="Схема посадочных мест"
                        matTooltipClass="matTooltipInfo"
                        (click)="openAircraftInfoDialog()"><mat-icon>info</mat-icon></a>
                </mat-card-title>
                <mat-error *ngIf="clientSeat.hasError('required')">
                    Пожалуйста выберите место
                </mat-error>
            </mat-card-header>
            <p><span style="font-size: 20px; font-weight: 500; margin-left: 25px;">Ваш тариф :</span><span
                    style="font-size: 20px;"> {{departureClientInfo.tariff.name}}</span></p>
            <mat-card-content class="seats">
                <div>
                    <div class="seatElement">
                        <div class="buisnessSeats">
                            <mat-grid-list cols="4" rowHeight="2:1">
                                <mat-selection-list #letters [multiple]="false"
                                    [disabled]="!departureClientInfo.tariff.vip_lounge || !departureClientInfo.tariff.seat_choice"
                                    [formControl]="clientSeat">
                                    <mat-grid-tile *ngFor="let seat of businessSeats; let i = index">
                                        <mat-list-option [value]="seat" (click)="busy(seat)">
                                            {{seat}}
                                        </mat-list-option>
                                    </mat-grid-tile>
                                </mat-selection-list>
                            </mat-grid-list>
                        </div>
                    </div>
                    <div class="seatElement">
                        <div class="economySeats">
                            <mat-grid-list cols="6" rowHeight="2:1">
                                <mat-selection-list #letters [multiple]="false"
                                    [disabled]="!departureClientInfo.tariff.eat_choice || departureClientInfo.tariff.vip_lounge"
                                    [formControl]="clientSeat">
                                    <mat-grid-tile *ngFor="let seat of economySeats">
                                        <mat-list-option [value]="seat" (click)="busy(seat)">{{seat}}</mat-list-option>
                                    </mat-grid-tile>
                                </mat-selection-list>
                            </mat-grid-list>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card style="margin-top:15px;" class="arrivalSeats">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image" style="width: 20px;">
                    <mat-icon>airline_seat_recline_normal</mat-icon>
                </div>
                <mat-card-title>Выбор места
                    <a matBadge class="aircraftInfo" matTooltip="Схема посадочных мест" matTooltipClass="matTooltipInfo"
                        (click)="openAircraftInfoDialog()"><mat-icon>info</mat-icon></a>
                </mat-card-title>
                <mat-error *ngIf="clientSeat.hasError('required')">
                    Пожалуйста выберите место
                </mat-error>
            </mat-card-header>
            <p><span style="font-size: 20px; font-weight: 500; margin-left: 25px;">Ваш тариф :</span><span
                    style="font-size: 20px;"> {{departureClientInfo.tariff.name}}</span></p>
            <mat-card-content class="seats">
                <div>
                    <div class="seatElement">
                        <div class="buisnessSeats">
                            <mat-grid-list cols="4" rowHeight="2:1">
                                <mat-selection-list #letters [multiple]="false"
                                    [disabled]="!departureClientInfo.tariff.vip_lounge || !departureClientInfo.tariff.seat_choice"
                                    [formControl]="clientSeat">
                                    <mat-grid-tile *ngFor="let seat of businessSeats; let i = index">
                                        <mat-list-option [value]="seat" (click)="busy(seat)">
                                            {{seat}}
                                        </mat-list-option>
                                    </mat-grid-tile>
                                </mat-selection-list>
                            </mat-grid-list>
                        </div>
                    </div>
                    <div class="seatElement">
                        <div class="economySeats">
                            <mat-grid-list cols="6" rowHeight="2:1">
                                <mat-selection-list #letters [multiple]="false"
                                    [disabled]="!departureClientInfo.tariff.eat_choice || departureClientInfo.tariff.vip_lounge"
                                    [formControl]="clientSeat">
                                    <mat-grid-tile *ngFor="let seat of economySeats">
                                        <mat-list-option [value]="seat" (click)="busy(seat)">{{seat}}</mat-list-option>
                                    </mat-grid-tile>
                                </mat-selection-list>
                            </mat-grid-list>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="information">
        <mat-card>
            <mat-card-header>
                <div mat-card-avatar class="example-header-image" style="width: 20px;">
                    <mat-icon>airplanemode_active</mat-icon>
                </div>
                <mat-card-title>Информация о полёте</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>Рейс: {{departureClientInfo.route.departure_city}}
                    <strong>{{departureClientInfo.route.departure_air_code}}</strong> -
                    <strong>{{departureClientInfo.route.arrive_air_code}}</strong>
                    {{departureClientInfo.route.arrive_city}}
                </p>
                <p>Время отбытия/прибытия: {{departureClientInfo.route.start_time | date :'HH:mm'}} /
                    {{departureClientInfo.route.end_time | date
                    :'HH:mm'}}</p>
                <p>Время в полёте: {{departureClientInfo.route.time_in_fly}}</p>
                <p>Тариф: {{departureClientInfo.route.name}}</p>
                <p>Итоговая цена: {{departureClientInfo.route.price * departureClientInfo.route.markup / 100}} руб.</p>
                <p>Место: {{clientSeat.value}} <strong *ngIf="clientSeat.hasError('required')">Выберите место</strong>
                </p>
                <button mat-raised-button
                    (click)="openPaymentDialog(departureClientInfo.route.price * departureClientInfo.route.markup / 100)"
                    [disabled]="clientSurname.hasError('required') || clientSurname.hasError('pattern') || clientName.hasError('required') || clientName.hasError('pattern') || clientLastName.hasError('required') || clientLastName.hasError('required') || clientBirthday.hasError('required') || clientPassportNumber.hasError('required') || clientPassportNumber.hasError('pattern') || clientCountryOfIssue.hasError('required') || clientCitizenship.hasError('required') || clientEmail.hasError('required') || clientEmail.hasError('email') || clientPhoneNumber.hasError('required') || clientPhoneNumber.hasError('pattern') || clientSeat.hasError('required')">Оформить</button>
                <!-- <button mat-raised-button (click)="openPaymentDialog(currentRoute.price * currentTariff.markup / 100)">Оформить</button> -->
                <mat-card-actions align="end"></mat-card-actions>
            </mat-card-content>
        </mat-card>

        <mat-card style="margin-top:15px;">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image" style="width: 20px;">
                    <mat-icon>airplanemode_active</mat-icon>
                </div>
                <mat-card-title>Информация о полёте</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>Рейс: {{departureClientInfo.route.departure_city}}
                    <strong>{{departureClientInfo.route.departure_air_code}}</strong> -
                    <strong>{{departureClientInfo.route.arrive_air_code}}</strong>
                    {{departureClientInfo.route.arrive_city}}
                </p>
                <p>Время отбытия/прибытия: {{departureClientInfo.route.start_time | date :'HH:mm'}} /
                    {{departureClientInfo.route.end_time | date
                    :'HH:mm'}}</p>
                <p>Время в полёте: {{departureClientInfo.route.time_in_fly}}</p>
                <p>Тариф: {{departureClientInfo.route.name}}</p>
                <p>Итоговая цена: {{departureClientInfo.route.price * departureClientInfo.route.markup / 100}} руб.</p>
                <p>Место: {{clientSeat.value}} <strong *ngIf="clientSeat.hasError('required')">Выберите место</strong>
                </p>
                <button mat-raised-button
                    (click)="openPaymentDialog(departureClientInfo.route.price * departureClientInfo.route.markup / 100)"
                    [disabled]="clientSurname.hasError('required') || clientSurname.hasError('pattern') || clientName.hasError('required') || clientName.hasError('pattern') || clientLastName.hasError('required') || clientLastName.hasError('required') || clientBirthday.hasError('required') || clientPassportNumber.hasError('required') || clientPassportNumber.hasError('pattern') || clientCountryOfIssue.hasError('required') || clientCitizenship.hasError('required') || clientEmail.hasError('required') || clientEmail.hasError('email') || clientPhoneNumber.hasError('required') || clientPhoneNumber.hasError('pattern') || clientSeat.hasError('required')">Оформить</button>
                <!-- <button mat-raised-button (click)="openPaymentDialog(currentRoute.price * currentTariff.markup / 100)">Оформить</button> -->
                <mat-card-actions align="end"></mat-card-actions>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- <footer align="end" style="background-color: white; margin-top: 12px;">
        <button mat-button
            [disabled]="clientPassportNumber.hasError('pattern') || clientSurname.hasError('required') || clientName.hasError('required') || clientLastName.hasError('required') || clientBirthday.hasError('required') || clientPassportNumber.hasError('required') || clientCountryOfIssue.hasError('required') || clientCitizenship.hasError('required') || clientEmail.hasError('required') || clientPhoneNumber.hasError('required')">Продолжить
        </button>
    </footer> -->
</div>