mat-grid-tile {
  border: 1px black solid;
  border-radius: 10;
  margin: 5px 5px;
}

.registration {
  display: grid;
  grid-template-columns: 900px 380px;
}

.inforamtion {
  width: 270px;
  height: 270px;
  position: sticky;
  top: 0px;
  left: 900px;
  
}

.buisnessSeats {
  width: 300px;
}

.economySeats {
  width: 450px;
}

.seats {
  display: flex;
  justify-content: center;
}

.buisnessSeats> {
  text-align: center;
}

.seatElement {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}