mat-grid-tile {
  border: 1px black solid;
  border-radius: 10;
  margin: 5px 5px;
}

mat-card-content mat-form-field{
  margin-right: 5px;
}

.registration {
  display: grid;
  grid-template-columns: 950px 300px;
}

.inforamtion {
  margin-left: 30px;
  width: 265px;
  height: 280px;
  position: sticky;
  top: 15px;
  left: 0px;
}

.inforamtion p{
  font-size:13px;
}

.buisnessSeats {
  width: 300px;
}

.economySeats {
  width: 450px;
}

.seats {
  display: flex;
  justify-content: center;
}

.buisnessSeats> {
  text-align: center;
}

.seatElement {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.quanPassangeres{
  margin-left: 10px;
  font-size: 12px;
}

.aircraftInfo{
  color:#1976d2;
}

.matTooltipInfo{
  font-size: 15px;
}

.aircraftInfo :hover{
  color: #551A8B;
}