<div class="route" >
  <h1>{{depCityAsString}} - {{arrCityAsString}}</h1>
      <div class="mat-elevation-z8" *ngIf="routesListIsFull">
        <table mat-table [dataSource]="dataSource" matSort style="background-color: #D9D9D9;">
      
          <ng-container matColumnDef="Departure">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:200px; text-align: center;">Вылет</th>
            <td mat-cell *matCellDef="let row" style=" height: 100px; text-align: center;"><strong style="font-size: 20px;">{{row.start_time | date :'HH:mm'}}</strong><span style="margin-left: 9px; color: #1976d2;">{{row.departure_air_code}}</span></td>          
            <td>qwe</td>
          </ng-container>
          
          <ng-container matColumnDef="Arrive">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:200px; text-align: center;">Прилет</th>
            <td mat-cell *matCellDef="let row" style="text-align: center;"> <span style="margin-right: 9px; color: #1976d2;">{{row.arrive_air_code}}</span><strong style="font-size: 20px;">{{row.end_time | date :'HH:mm'}}</strong></td>
          </ng-container>
      
          <ng-container matColumnDef="Airline">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:200px; text-align: center;"> Перевозчик </th>
            <td mat-cell *matCellDef="let row" style="text-align: center;"> <img mat-card-image [src]="row.image" style="max-width: 120px; margin-top:15px;"> </td>
          </ng-container>
      
          <ng-container matColumnDef="Route">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:200px; text-align: center;"> Рейс </th>
            <td mat-cell *matCellDef="let row" style="text-align: center;"> {{row.route_code}} </td>
          </ng-container>

          <ng-container matColumnDef="InJourney">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:200px; text-align: center;"> В пути </th>
            <td mat-cell *matCellDef="let row" style="text-align: center;">{{convertNumberToTime(row.time_in_fly)}}</td>
          </ng-container>
      
          <ng-container matColumnDef="Price">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:200px; text-align: center;"> Цена </th>
            <td mat-cell *matCellDef="let row" style="text-align: center;"> от {{row.price}} руб.</td>
          </ng-container>
          
          <ng-container matColumnDef="Seats">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:200px; text-align: center;">Свободных мест</th>
            <td mat-cell *matCellDef="let row" style="text-align: center;"> {{row.available_seats}}</td>
          </ng-container>
          
          <ng-container matColumnDef="Button">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:200px; text-align: center;"></th>
            <td mat-cell *matCellDef="let row" style="text-align: center;"> <button [disabled]="row.isChoosed || routeIsSelected" [ngStyle]="{'background-color': row.IsChoosed? '#D9DAD9' : 'white'}" mat-raised-button (click)="openDialog(row.airline_id, row.price, row.route_id)" style="background-color:#1976d2;">Выбрать рейс</button>
              <button mat-button style="width: 10px;" (click)="unselectRoute(row.route_id)" *ngIf="row.isChoosed" matTooltip="Отменить рейс"><mat-icon style="color: red; font-size:20px;">close</mat-icon></button>
            </td> 
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      
        </table>
      <div style="background-color: #D9D9D9; height: 30px;"></div>
      </div>
</div>
<div *ngIf="!routesListIsFull" style="text-align: center;">
  <p style="font-size: 20px; font-weight: bold;">К сожалению на эту дату рейсов нет</p>
</div>
<router-outlet></router-outlet>