<div class="route">
   
      <div class="mat-elevation-z8" >
        <table mat-table [dataSource]="dataSource" matSort>
      
          <ng-container matColumnDef="Departure">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:200px; text-align: center;">Вылет</th>
            <td mat-cell *matCellDef="let row" style=" height: 100px; text-align: center;"><strong style="font-size: 20px;">{{row.start_date | date :'HH:mm'}}</strong><span style="margin-left: 9px; color: #1976d2;">{{row.departure_air_code}}</span></td>
          </ng-container>

          <ng-container matColumnDef="Arrive">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:200px; text-align: center;">Прилет</th>
            <td mat-cell *matCellDef="let row" style="text-align: center;"> <span style="margin-right: 9px; color: #1976d2;">{{row.arrive_air_code}}</span><strong style="font-size: 20px;">{{row.end_date | date :'HH:mm'}}</strong></td>
          </ng-container>
      
          <ng-container matColumnDef="Airline">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:200px; text-align: center;"> Перевозчик </th>
            <td mat-cell *matCellDef="let row" style="text-align: center;"> <img mat-card-image [src]="row.image" style="max-width: 120px; margin-top:15px;"> </td>
          </ng-container>
      
          <ng-container matColumnDef="Route">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:200px; text-align: center;"> Рейс </th>
            <td mat-cell *matCellDef="let row" style="text-align: center;"> {{row.route_code}} </td>
          </ng-container>

          <ng-container matColumnDef="InJourney">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:200px; text-align: center;"> В пути </th>
            <td mat-cell *matCellDef="let row" style="text-align: center;">{{row.time_in_fly}}</td>
          </ng-container>
      
          <ng-container matColumnDef="Price">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:200px; text-align: center;"> Цена </th>
            <td mat-cell *matCellDef="let row" style="text-align: center;"> от {{row.price}} руб.</td>
          </ng-container>
      
          <ng-container matColumnDef="Button">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:200px; text-align: center;"></th>
            <td mat-cell *matCellDef="let row" style="text-align: center;"> <button mat-raised-button (click)="openDialog()" style="background-color:#1976d2; color:white;">Выбрать рейс</button> </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      
        </table>
      
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
      </div>
</div>
<router-outlet></router-outlet>